div#view_tracking_modal {
    z-index: 99999;
}
.close {
	margin-top: 6px !important;
	margin-left: 6px !important;
}

.modal .modal-header {
	background: #3598dc;
	color: #fff;
}

.modal {
	padding-right: 0px !important;
}

.btn-circle {
	border-radius: 5px !important;
}

div#tags_checkbox_div input {
	margin: 7px;
}

.tiles .tile {
	margin: 0px;
}

.portlet.box.blue-hoki>.portlet-title {
	background: #3598dc;
}

.portlet.box.blue-hoki {
	border: 1px solid #3598dc;
}

.qtip-default .qtip-content {
	padding-top: 10px;
}

.tiles_wrap {
	width: 100%;
}

#view_request_modal {
	margin-top: 0 !important;
}

#compare_modal.modal.fade.in {
	top: 35% !important;
}

#reason {
	width: 100%;
}
/*************************   THIS IS INLINE CSS  ************/
.modal-fullscreen {
	width: 35%;
	height: 92%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 40%;
}

.qtip-content {
	padding-top: 25px;
}

.modal-content {
	height: 99%;
}

#display_image_table .img-responsive {
	width: 105px;
	height: auto;
}

.lcs_wrap {
	margin-right: 1%;
}

.form-inline {
	margin-left: 5%;
}

.base-option {
	padding: 15px 0 15px 0;
	border-bottom: thin solid #e5e5e5 !important;
}

#div_variant_container .fa-times-circle {
	cursor: pointer;
	font-size: 14px;
	color: #666666;
}

.dropdown-options {
	border-left: solid 1px #cbcbcb;
	padding: 0px 0 0 15px;
	margin-bottom: 15px;
	margin-left: 74px;
	margin-top: -3px;
}

.div-variant-options:before {
	background: #cbcbcb;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	left: -15px;
	top: 16px;
	width: 15px;
}

.div-variant-options {
	box-sizing: border-box;
	overflow: visible;
	position: relative;
}

.add-options:before {
	background: #FFF;
	content: '';
	display: block;
	position: absolute;
	height: 45px;
	left: -11px;
	top: -26px;
	width: 3px;
}

.modal {
	height: auto;
}

.btn-circle {
	margin-bottom: 15px !important;
}

.todo-form-actions button.btn-circle:first-child {
	margin-left: 53px;
}

.red-haze.btn {
	margin-left: 6px;
}

.tiles .tile.double {
	width: 100% !important;
}

.nav-tabs>li>a, .nav-pills>li>a {
	border-radius: 4px;
}

.tiles {
	margin-right: 0px;
}

/******* view dashboard creator projects & buyer project inline css here   *************/
todo-tasklist-badge .fa-rupee {
	font-size: 10px !important;
}

.current-project-open {
	background: #f2f6f9;
	color: #5b9bd1;
	border-radius: 5px;
}

.tiles .tile .tile-object>.number {
	font-size: 11px;
	font-weight: 400;
}

.modal-fullscreen {
	width: 50%;
	/* height: 90%;*/
	padding: 0;
	margin: 0;
	top: 0;
	left: 25%;
}

.todo-text-color {
	margin: 0;
}

.tiles .tile .tile-body p span {
	text-decoration: underline;
}
/****** end inline css here *****/

/***************************************  MEDIA QUERY  ****************************************************/
@media ( width :1024px) {
	.portlet-body .row .col-md-5, .portlet-body .row #message {
		width: 100%;
		margin-bottom: 20px;
	}
}
/******* view dashboard creator projects & buyer project inline css here   *************/
@media only screen and (max-width: 767px) and (min-width: 100px) {
	.todo-sidebar .slimScrollDiv {
		height: auto !important;
	}
	.modal-fullscreen {
		left: 0;
	}
	#view_tracking_modal .modal-dialog {
		width: 98%;
	}
	#view_tracking_modal  .modal-footer {
		text-align: left;
		border-top: none;
	}
	.table-advance tr td:first-child {
		width: 15px;
	}
	input#order_track_no {
		width: 100%;
	}
	#variant_modal .modal-dialog {
		width: 100%;
		padding-left: 0;
	}
}

/********  view dashboard creator projects inline css here   ************/
@media ( max-width :400px) {
	.todo-form-actions button.red-haze {
		margin-left: 53px;
	}
}