.using-angular .row {
	margin-top: 15px;
}

.using-angular .table-bordered > thead > tr > th, .using-angular .table-bordered > tbody > tr > th, .using-angular .table-bordered > tfoot > tr > th, .using-angular .table-bordered > thead > tr > td, .using-angular .table-bordered > tbody > tr > td, .using-angular .table-bordered > tfoot > tr > td {
	width: 15%;
}

.search-container label{
	color:#fff;
}

.table-striped > tbody > tr.selected:nth-child(odd) > td, .table-striped > tbody > tr.selected:nth-child(odd) > th{
  background-color: rgba(33, 224, 83, 0.49);
}

.using-angular .table thead.thead-background > tr{
    background-color: #087;
    color: #fff;
}

tbody > tr.selected > td, tbody > tr.selected > th{
  background-color: rgba(33, 224, 83, 0.49);
}