<!DOCTYPE html>
<html ng-app="test" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Dentist Aide</title>
<!-- BOOTSTRAP STYLES-->
<link href="/css/bootstrap.css" rel="stylesheet" />
<!-- CUSTOM STYLES-->
<link href="/css/custom.css" rel="stylesheet" />
<!-- GOOGLE FONTS-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans'
	rel='stylesheet' type='text/css' />
<script src="/js/jquery-1.11.2.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/angular1.6.3.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services/medicineService.js"></script>
<script src="/js/controllers/medicineCtrl.js"></script>
<script src="/js/filters/uniqueFilter.js"></script>	

<script type="text/javascript">

function loadPrescriptionHistory(){
	  var idOfPatient = document.getElementById('patientId').innerHTML;
	  $("#patientHiddenId").val(idOfPatient);
	  $("#searchPatientPrescription").submit();
	
}
</script>
<style>
			body {
     			background: #fcfcfc ;
			}
			a {
				font-size:20px;font-weight:bold;
			}
</style>
</head>
<body class="using-angular">
<div class="row" style="margin-top:20px;">
	<div class="col-md-6"></div>
	<div class="col-md-1 pull-left">
		 <a href="/home">Home</a> 
	</div>
	<div class="col-md-1 pull-left">
		 <a href="/newPatientFlow">Register</a> 
	</div>
	<div class="col-md-2 pull-left">
		 <a href="/aboutUs">About Us</a> 
	</div>
	<div class="col-md-2"></div>
</div>
	<div ng-controller="medicineCtrl" class="container">
	<div id="wrapper">

		<!-- /. NAV SIDE  -->
		<div id="page-wrapper">
			<div id="page-inner">
				<div class="row well well-sm" style="color: #428bca; font-weight:bold;">
					
						<div class="col-md-6">
							<h2>Prescription</h2>
						</div>
						<div id="divPatientPrescription" class="col-md-6">
						<form id="searchPatientPrescription" action="/fetchPrescriptions" method="POST">
							<input class="btn btn-info" type="submit" value="PrescriptionHistory" onclick="loadPrescriptionHistory();" />
							<input type="hidden" id="patientHiddenId" name="patientHiddenId"></input>
						</form>
					</div>
					
					
				</div>
				<hr />
								
				<div class="row">
				<div  style="display: none;">
					<p id="userDetails" ng-model="patientDetails" th:inline="text">[[${retrievedPatientInfOJSON}]]</p>
				</div>
				</div>
				
				<div class="row">
					<div id="patient-data" class="content-to-post col-sm-12" ng-if="patientDetails.length">
						<table class="table table-bordered">
							<thead>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Patient Id</th>
							</thead>
							<tbody>
								<tr ng-repeat="patientInfo in patientDetails">
									<td id="patientFirstName">{{patientInfo.firstName}}</td>
									<td id="patientLastName">{{patientInfo.lastName}}</td>
									<td id="patientId">{{patientInfo.id}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<hr />
				<div class="row">
					<div id="print-data" class="content-to-post col-sm-12" ng-if="postMedicines.length">
				<table class="table table-bordered table-responsive table-striped">
					<thead class="thead-background">
						<tr  style="background-color:#428bca;">
							<th>ID</th>
							<th>Drug Form</th>
							<th>Trade Name</th>
							<th>Strength</th>
							<th>Frequency</th>
							<th>Duration</th>
							<th>Special Notes</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="med in postMedicines | unique : 'id'" 
						 ng-class="{'selected': med.isSelected ? true : false}"
						 ng-dblclick="removeItem($index)">
							<td ng-init="medSelected(med)">{{med.id}}</td>
							<td>{{med.drugForm}}</td>
							<td>{{med.tradeName}}</td>
							<td>{{med.strength}}</td>
							<td>{{med.frequency}}</td>
							<td>{{med.duration}}</td>
							<td>{{med.specialInstructions}}</td>
						</tr>
					</tbody>
				</table>
				<div class="button-container">
					<a href="javascript:void(0)" ng-click="sendData('print-data')" class="btn btn-info">Print and Submit</a>
				</div>
			</div>
			</div>
				
				<!-- /. ROW  -->
				<hr />
				<div class="row" id="selectBtnDiv">


					<div class="col-md-6">
						<a href="javascript:void(0)" ng-click="getMedicine(url1)" id="Tablet" class="btn btn-info">Tab</a> 
						<a href="javascript:void(0)" ng-click="getMedicine(url2)" id="Capsule" class="btn btn-info">Cap</a>
						<a href="javascript:void(0)" ng-click="getMedicine(url3)" id="Syrup" class="btn btn-info">Syp</a> 
						<a href="javascript:void(0)" ng-click="getMedicine(url4)" id="Gel" class="btn btn-info">Gel</a>
						<a href="javascript:void(0)" ng-click="getMedicine(url5)" id="Mouthwash" class="btn btn-info">Mouthwash</a> 
						<a href="javascript:void(0)" ng-click="getMedicine(url6)" id="Suspension" class="btn btn-info">Suspension</a>
						

					</div>
					<div class="search-container col-sm-6">
						<label for="table-search">Search</label>
						<input id="table-search" ng-model="filterText" type="text"/>
					</div>

				</div>
				<!-- /. ROW  -->

				<hr />
				<div class="row">
					<div class="content-form-service col-sm-12">
				<table class="table table-responsive table-bordered table-striped">
					<thead class="thead-background">
						<tr  style="background-color:#428bca;">
							<th>ID</th>
							<th>Drug Form</th>
							<th>Trade Name</th>
							<th>Strength</th>
							<th>Frequency</th>
							<th>Duration</th>
							<th>Special Notes</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="med in medicines | filter: filterText"
						  ng-class="{'selected': med.isSelected ? true : false}" ng-dblclick="addMed(med)">
							<td ng-init="medSelected(med)">{{med.id}}</td>
							<td>{{med.drugForm}}</td>
							<td>{{med.tradeName}}</td>
							<td>{{med.strength}}</td>
							<td>{{med.frequency}}</td>
							<td>{{med.duration}}</td>
							<td>{{med.specialInstructions}}</td>
						</tr>
					</tbody>
				</table>
				</div>
				</div>

				
				<!-- /. ROW  -->
				<hr />

				<!-- /. ROW  -->

			</div>
			<!-- /. PAGE INNER  -->
		</div>
		<!-- /. PAGE WRAPPER  -->
	</div>

	</div>

</body>
</html>
